## One Sample t test

In [6]:
import pandas as pd
import numpy as np

In [7]:
philips_data = pd.read_csv("D:/Desktop/Desktop_Important/ATI/Hypothesis Testing/bulb.csv")

In [8]:
philips_data.head()

   Lifetime_Yrs
0           9.0
1          11.0
2          10.0
3           8.0
4           9.0

In [9]:
import scipy.stats as stats

In [10]:
stats.ttest_1samp(philips_data['Lifetime_Yrs'], 15)

Ttest_1sampResult(statistic=-25.83729162986167, pvalue=4.469715032154533e-21)

## Two-Sample T-Test

In [11]:
import pandas as pd

In [12]:
city_rating = pd.read_csv("D:/Desktop/Desktop_Important/ATI/Hypothesis Testing/city_ratings.csv")

In [13]:
stats.ttest_ind(city_rating["Rating"][city_rating["City"]==1], city_rating["Rating"][city_rating["City"]==2])

Ttest_indResult(statistic=-2.5297666878768013, pvalue=0.01710411868326595)

## Paired t test

In [16]:
student_scores = pd.read_csv("D:/Desktop/Desktop_Important/ATI/Hypothesis Testing/students_scores.csv")

In [ ]:
student_scores.head()

In [19]:
stats.ttest_rel(student_scores['Before'], student_scores['After'])

Ttest_relResult(statistic=-2.0526315789473686, pvalue=0.07031372598901667)

## Chisquare test of independence

In [21]:
adult_logistics = pd.read_csv("D:/Desktop/Desktop_Important/ATI/Hypothesis Testing/adult_logistic.csv")

In [22]:
adult_logistics.head()

,Age,Workclass,Fnlwgt,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native-country,Class
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [30]:
data = pd.crosstab(adult_logistics["Education"],adult_logistics["Class"])

In [31]:
chi2, p, dof, exp = stats.chi2_contingency(data)

In [32]:
print(p)

0.0